<!-- this is a blog post for <%= article.title %> -->
<div class="post">
  <h1 class="post-title"><%= link_to article.title, article %></h1>

  <span class='post-date'><%= article.date.strftime('%b %e, %Y') %>

    <span class='taglist'>
      <%= article.tags.map do |tag|
            link_to tag, tag_path(tag), class: 'tag'
          end.join(', ') %>
    </span>
  </span>

  <%= article.body %>

  <!-- navigation links to chronologically related posts -->
  <span class='relative-posts'>
    <% if article.article_previous %>
      <%= link_to "<< " + article.article_previous.title, article.article_previous, class: 'next-article' %>
    <% end %>

    <% if article.article_previous && article.article_next %> | <% end %>

    <% if article.article_next %>
      <%= link_to article.article_next.title + " >>", article.article_next, class: 'next-article' %>
    <% end %>
  </span>
</div>
