<% page_articles.each do |article| %>
  <%= partial "article", locals: {article: article} %>
<% end %>

<% if paginate %>
  <div class='pagination'>
    <!-- Page <%= page_number %> of <%= num_pages %>-->
    <% if next_page %>
      <%= link_to 'Older', next_page, class: "pagination-item older" %>
    <% else %>
      <span class="pagination-item older">Older</span>
    <% end %>

    <% if prev_page %>
      <%= link_to 'Newer', prev_page, class: "pagination-item newer" %>
    <% else %>
      <span class="pagination-item newer">Newer</span>
    <% end %>
  </div>
<% end %>
