---
layout: default
---

<% content_for :head do %>
  <!-- OpenID delegation, using MyOpenID -->
  <link rel="openid.server" href="https://www.myopenid.com/server" />
  <link rel="openid.delegate" href="https://evaryont.myopenid.com/" />
  <link rel="openid2.local_id" href="https://evaryont.myopenid.com" />
  <link rel="openid2.provider" href="https://www.myopenid.com/server" />
  <meta http-equiv="X-XRDS-Location" content="https://evaryont.myopenid.com/xrds" />

  <!-- I love Middleman and Ruby! Let the world know this page was made with 'em. -->
  <meta name="generator" content="Ruby <%= RUBY_VERSION %> / Middleman <%= Middleman::VERSION %>" />
<% end %>

<img class='avatar' alt='My avatar' title='My avatar' src="https://secure.gravatar.com/avatar/efb9a1ec42adeec9615f062e55bf5c3e?size=256" />
<ul class='nav'>
  <% data.elsewhere.sites.each do |site| %>
    <li>
      <a href='<%= site.url %>'<%= " rel='me'" unless site.url.start_with? '/' %>><i class='fa fa-fw fa-lg <%= site.icon %>'></i><%= site.name %></a>
    </li>
  <% end %>
</ul>
